.box{
    width: 300px;
    height: 300px;
    background-image: linear-gradient(to bottom, pink 60%, skyblue 60%, skyblue 80%, yellow 80%);
}
.wrap{
        margin-top: 50px;
        width: 300px;
        height: 300px;
        background-image: radial-gradient(circle at center, yellow 10%, rgb(136, 91, 7) 70%);
}
.pip{
    margin-top: 50px;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle at center, red, black 50%);
}

.card{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 400px;
    background-color: rgb(228, 228, 228);
    /* box-shadow: 10px 10px 8px 4px gray; */
    /* box-shadow: inset 10px 10px 8px 4px gray; */
    box-shadow: 10px 10px 10px 2px red,
    20px 20px 10px 2px green,
    30px 30px 10px 2px blue;
}
